#count {
    display: inline;
    font-weight: bold;
}

#count::before {
    content: " ";
}

#logo {
    background-image: url('../assets/holberton-logo.jpg');
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
}
