#Notify {
    display: flex;
    flex-direction: column; 
    align-items: end;
}
.Notifications {
    border: 0.1rem dotted red;
    padding: 0.5rem;
    width: 30%;
    height: 16vh;
}

.Notifications p {
    margin: 0.1rem 0 0 0;
}

[data-notification-type="top"] {
    color: red;
    font-weight: bold;
}

[data-notification-type="default"] {
    color: blue;
    font-weight: bold;
}

